@charset "UTF-8";

body {
    margin: 0;
    background-color: #eeeeee;
}

img {
    display: block;
}

.w-container {
    width: min(92%,1166px);
    margin: auto;
}

.header {
    height: 112px;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbtn {
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #aaaaaa;
    font-size: 30px;
}
